/* scrollbar.css */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Ancho de la scrollbar horizontal */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #2d3748; /* Color de la pista */
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Color del pulgar */
    border-radius: 4px;
    border: 2px solid #2d3748; /* Espacio alrededor del pulgar */
  }
  
  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748;
  }
  